*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Inter,sans-serif;
}

body{

    background:#345830;
    color: #ede0d4;

}

.container{

    max-width:650px;

    margin:auto;

    padding:60px 25px;

}

.subtitle{

    color:#8ba993;

    margin-top:10px;

    margin-bottom:40px;

}

.sliderBox{

    background:#1e3f20;

    padding:30px;

    border-radius:25px;

    margin-bottom:50px;

    text-align:center;

}

.slider{

    width:100%;

    appearance:none;

    height:10px;

    border-radius:30px;

    background:#4b674a;

    outline:none;

    margin:20px 0;

}

.slider::-webkit-slider-thumb{

    appearance:none;

    width:28px;

    height:28px;

    border-radius:50%;

    background:#8fa488;

    cursor:pointer;

}

.emoji{

    font-size:60px;

}

.options{

    display:grid;

    gap:20px;

    margin-top:25px;

}

.optionCard{

    background:#1e3f20;

    border:none;

    color:white;

    border-radius:22px;

    padding:28px;

    cursor:pointer;

    transition:.25s;

}

.optionCard:hover{

    transform:translateY(-4px);

    background:#3f6843;

}

.emojiBig{

    font-size:38px;

    margin-bottom:10px;

}

.page{

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    height:100vh;

    text-align:center;

}

.activity{

    width:300px;

    margin:12px;

    padding:18px;

    border:none;

    border-radius:18px;

    background:#7C3AED;

    color:white;

    cursor:pointer;

    font-size:16px;

}